@media only screen and (min-width: 35rem){
    nav ul#menuNav {
        display: contents;
    }

    nav {
        background: #ffd051; /* Old browsers */
        background: -moz-linear-gradient(top, #ffd051 0%, #a04c24 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ffd051 0%,#a04c24 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ffd051 0%,#a04c24 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd051', endColorstr='#a04c24',GradientType=0 ); /* IE6-9 */}

    nav button {display: none;}

    nav ul {margin: 0;}

    nav ul.hide {display: none; }

    nav ul li { display: inline-flex; padding: 0; margin: 0;}

    nav ul li a {display: flex;  border: 2px solid rgba(0,0,0,0.3); padding: .4rem .4rem; width: 100%; margin: 0;}

    .grid {margin: .5rem;
        display: grid;
        grid-template-columns: 400fr 400fr 400fr;
        grid-gap: 20px;
        border-radius: 5px 50px;
    }
}
