/* This small but main css file will control the base actions of intire website, adjustments as size increases*/

*{
    font-family: 'Courgette', cursive;
    font-family: 'Merienda', cursive;
    font-family: 'Kalam', cursive;
}
/*-------------------------HEAD---------------------------*/
/*-------------------------Navi---------------------------*/



/*-------------------------Main---------------------------*/
/*-------------------------HEAD---------------------------*/
/*-------------------------HEAD---------------------------*/
/*-------------------------Foot---------------------------*/
